In [1]:
classmates=['Michael','Bob','Tracy']
classmates

['Michael', 'Bob', 'Tracy']

In [2]:
len(classmates)

3

In [3]:
classmates[0]
classmates[1]
classmates[2]
classmates[-1]
classmates[-2]

'Bob'

In [4]:
classmates.append('Adam')
classmates

['Michael', 'Bob', 'Tracy', 'Adam']

In [5]:
classmates.insert(1,'Jack')
classmates

['Michael', 'Jack', 'Bob', 'Tracy', 'Adam']

In [6]:
classmates.pop()

'Adam'

In [7]:
classmates.pop(1)

'Jack'

In [ ]:
classtuple=('Michael','Bob','Tracy')

In [9]:
t=(1,)
t

(1, 2)

In [12]:
t=('a','b',['A','B'])
t

('a', 'b', ['A', 'B'])

In [13]:
t[2][1]='C'
t

('a', 'b', ['A', 'C'])

In [14]:
age=3
if age>=18:
    print('your are is',age)
    print('adult')
elif age >=6:
    print('teanager')
else:
    print('kid')

kid

In [15]:
int('123')

123

In [16]:
names=['Michael','Bob','Tracy']
for name in names:
    print(name)

Michael
Bob
Tracy

In [17]:
sum=0
for x in [1,2,3,4,5]:
    print(x)

1
2
3
4
5

In [19]:
list(range(5))

[0, 1, 2, 3, 4]

In [20]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [21]:
range(40,2)

range(40, 2)

In [23]:
sum=0
for x in range(101):
    sum+=x
print(sum)

5050

In [27]:
sum=0
n=99
while n>0:
    sum+=n
    n-=2
print(sum)

2500

In [28]:
d={'Michael':95,'Bob':86,'tracy':75}
d['Michael']

95

In [29]:
d['Adam']=47
d

{'Michael': 95, 'Bob': 86, 'tracy': 75, 'Adam': 47}

In [31]:
'Thomas' in d

False

In [33]:
d.get('Thomas',-1)

-1

In [34]:
d.pop('Bob')

86

In [35]:
d

{'Michael': 95, 'tracy': 75, 'Adam': 47}

In [37]:
s=set([1,2,3])
s

{1, 2, 3}

In [39]:
s1={1,2,3,4}
s1

{1, 2, 3, 4}

In [40]:
s1.add(5)
s1.remove(4)
s1

{1, 2, 3, 5}

In [41]:
s1 & s

{1, 2, 3}

In [42]:
s1|s

{1, 2, 3, 5}

In [44]:
s&s

{1, 2, 3}